@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.plan-div{
  background: rgba(0, 0, 0, 0.123);
  border: 1px solid rgba(0, 0, 0, 0.123);
  opacity: 80%;
  width: 100%;
}

.days{
  border-bottom: 1px solid rgba(0, 0, 0, 0.123);
  background-color: rgba(250, 128, 114, 0.685);
}

/* Customizing the date picker container */
/* Importing the Inter font */
